<!-- Footer Section -->
 <link rel="stylesheet" href="/css/head.css">
<footer>
    <div class="footer-content">
      <div class="footer-logo">
        <h1>EduFinance Hub</h1>
      </div>
      <div class="footer-disclaimer">
        <p>
          Welcome to Financial Education and Management for Students (FEMS), your go-to platform for empowering students with the knowledge and tools needed for financial success. We offer a range of resources including scholarships to fund education, guidance on setting and achieving savings goals, support for startup funding, engaging financial quizzes, and an easy-to-use expense tracker. At FEMS, we believe that financial literacy is key to personal and professional growth, and we're dedicated to helping students manage their finances effectively and secure a bright financial future. Join our community today and take control of your financial journey!
        </p>
      </div>
      <div class="footer-social">
        <a href="#"><img src="facebook.png" alt="Facebook" /></a>
        <a href="#"><img src="twitter.jpeg" alt="Twitter" /></a>
        <a href="#"><img src="instagram.png" alt="Instagram" /></a>
        <a href="#"><img src="whatsapp.png" alt="Whatsapp" /></a>
      </div>
      <div class="footer-links">
        <a href="#">Terms And Conditions</a> |
        <a href="#">Privacy Policy</a> |
        <a href="#">Risk Warning</a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024-2025 - EduFinance Hub. All Rights Reserved.</p>
    </div>
  </footer>