<!-- Header Section -->
 <link rel="stylesheet" href="/css/head.css">
<header>
    <div class="container">
      <div class="logo">
        <hl> EduFinance Hub</h1>
      </div>
      <nav>
        <ul>
          <li></li>
          <li> <a href="/messages">Home</a></li>
          <!-- <li><a href="/#">Expense Tracker</a></li> -->
          <li><a href="/quiz">Quiz</a></li>
          <li><a href="/saving">Saving</a></li>
          <li><a href="/fund">Fund</a></li>
          <li><a href="/">Login</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>